<h1> <%= @topic.name %> </h1>
<ul>
  <% @topic.cards.each do |card| %>
    <li>
      <%= display_text card %>
    </li>
  <% end %>
</ul>
<p>
  <%= link_to "Delete", topic_path(@topic), method: :delete, confirm:"Are you sure?" %> | 
  <%= link_to 'Edit', edit_topic_path(@topic) %>
</p>
<hr />
Add another question:
<%= render partial:'cards/form' %>
