<h1> <%= @topic.name %> </h1>
<ul>
  <% @topic.cards.each do |card| %>
    <li><%= card.question %> > <%= card.answer %></li>
    <% if card.image.exists? %>
      <%= image_tag card.image.url, width:"200"  %>
    <% end %>
  <% end %>
</ul>
<hr />
<%= render partial:'card' %>
