<%= form_for @card, html:{ multipart:true } do |f| %>
  <%= f.hidden_field :topic_id %>
  <table border="0">
    <tr>
      <td><%= f.label :question %></td>
      <td><%= f.text_field :question %></td>
    </tr>
    <tr>
      <td><%= f.label :question_image %></td>
      <td><%= f.file_field :question_image %></td>
    </tr>
    <tr>
      <td><%= f.label :answer %></td>
      <td><%= f.text_field :answer %></td>
    </tr>
    <tr>
      <td><%= f.label :answer_image %></td>
      <td><%= f.file_field :answer_image %></td>
    </tr>
    <tr>
      <td><%= f.label :public %></td>
      <td><%= f.check_box :public %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
