<% if @all_topics %>
  <%= form_tag(card_for_topic_path) do %>
    <%= collection_select(nil, :topic_id, @all_topics, :id, :name, selected:@card.topic.id) %>
    <%= submit_tag 'Go' %>
  <% end %>
<% end %>
<div id="question-answer">
  <div id="question">
    <% if @card.question_image.exists? %>
      <div class="image">
        <%= image_tag @card.question_image %>
      </div>
    <% end %>
    <%= @card.question %>
  </div>
  <hr />
  <div id="answer">
    <% if @card.answer_image.exists? %>
      <div class="image">
        <%= image_tag @card.answer_image %>
      </div>
    <% end %>
    <%= @card.answer %>
  </div>
</div>

<p>
  <% if @card.public  %>
    <small><%= 'Public' %></small>
  <% else %>
    <%= link_to "Delete?", card_path(@card), method: :delete, confirm:'Are you sure?' %> |
    <%= link_to 'Edit', edit_card_path(@card) %>
    <p><%= link_to "Back to #{@card.topic.name}", topic_path(@card.topic) %></p>
  <% end %>
</p>
<br />
<p>
  <% if @previous_card %>
    <%= link_to "Previous", card_path(@previous_card) %>
  <% end %>
  <% if @next_card %>
    <%= link_to "Next", card_path(@next_card) %>
  <% end %>
</p>

