<strong>Question:</strong> <%= @card.question %><br />
<strong>Answer:</strong> <%= @card.answer %>

<% if @card.image.exists? %>
  <h2>Photo</h2>
  <%= image_tag @card.image %>
<% end %>
<p>
  <% if @card.public  %>
    <small><%= 'Public' %></small>
  <% else %>
    <%= link_to "Delete?", card_path(@card), method: :delete, confirm:'Are you sure?' %> |
    <%= link_to 'Edit', edit_card_path(@card) %>
    <p><%= link_to "Back to #{@card.topic.name}", topic_path(@card.topic) %></p>
  <% end %>
</p>
<br />

